.header-top {
  background-color: #155e82;
  padding: 25px 40px;
}

.logo-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-right: 30px;
}

#banner {
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
  color: #e63946;
  text-shadow: 4px 6px 6px #4cc9f0;
  letter-spacing: 2px;
  margin: 0;
}

.navbar {
  padding-left: 40px;
}

.navbar .nav-link {
  color: white !important;
  font-size: 18px;
  margin-right: 40px;
}

.navbar .nav-link:hover {
  color: #4cc9f0 !important;
}

.page-banner {
  background: url("img/noithat-banner.jpg") center/cover no-repeat;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 4px 6px black;
}

.section-title {
  text-align: center;
  font-weight: 700;
  margin: 60px 0 30px;
  color: #155e82;
}

.service-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.service-card h5 {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
}

.process-section {
  background: #155e82;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.process-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  margin: 15px auto;
}
