* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* khôi phục lại cỡ chữ theo rem */
.body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ------------------common------------------ */
a {
  text-decoration: none;
}
.main_content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 24px);
}
/* -------------------header------------------- */
.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
}
.body .nav {
  display: flex;
  flex-direction: row;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
header img {
  height: 50px;
  width: 70px;
}
/* dùng padding thay vì margin vì sẽ dễ sử dụng hơn cho người dùng */
.nav a {
  position: relative;
  color: #5f5b53;
  padding: 8px 21px;
  font-size: 1.6;
}

.nav li.active a,
.nav a:hover {
  color: black;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  bottom: 6px;
  left: 21px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.btn {
  color: #fff;
  display: inline-block;
  padding: 0px 16px;
  min-width: 144px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;

  border-radius: 24.5px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}
.header .action {
  margin-left: 49px;
}
